<div class="container">
   <div class="row ">
     <div class="col-md-3 espacoFotos cliente">
       <p>Cliente: Heavy House</p>
       <p>Identidade Visual Semana da Mulher</p>
     </div>
     <div class="col-md-4 espacoFotos caixa">
       <a routerLink="/design"><img class="img-fluid img" src="/assets/img/design/heavyHouse/1a.png"></a>
     </div>
     <div class="col-md-1"></div>
     <div class="col-md-4 espacoFotos caixa">
       <a routerLink="/design"><img class="img-fluid img" src="/assets/img/design/heavyHouse/6a.png"></a>
     </div>
   </div>

<h2 class="mais">+</h2>

 <div class="container espacoFotos ">
   <div class="row">
     <div class="col-md-3 espacoFotos cliente">
       <p>Cliente: Moblins</p>
       <p>Identidade Visual e fotos de divulgacao</p>
     </div>
     <div class="col-md-4 espacoFotos caixa">
       <a routerLink="/fotografia"><img class="img-fluid img" src="/assets/img/design/moblins/foto/5a.jpg"></a>
     </div>
     <div class="col-md-1"></div>
     <div class="col-md-4 espacoFotos caixa">
       <a routerLink="/fotografia"><img class="img-fluid img" src="/assets/img/design/moblins/foto/2a.jpg"></a>
     </div>
   </div>
   <br>
   <br>
  </div>
