  <div class="container">
   <div class="row ">
     <div class="col-md-4 espacoFotos2 ">
       <a [routerLink]="['/foto']" [queryParams]="{id: 1, foto: 1}"><img class="img-fluid img" src="/assets/img/design/heavyHouse/1a.png"></a>
     </div>
     <div class="col-md-4 espacoFotos2">
       <a [routerLink]="['/foto']" [queryParams]="{id: 1, foto: 2}"><img class="img-fluid img" src="/assets/img/design/heavyHouse/2a.png"></a>
     </div>
     <div class="col-md-4 espacoFotos2">
       <a [routerLink]="['/foto']" [queryParams]="{id: 1, foto: 3}"><img class="img-fluid img" src="/assets/img/design/heavyHouse/2a.png"></a>
     </div>
     <br>
     <br>
   </div>
</div>

  <div class="container">
   <div class="row ">
     <div class="col-md-4 espacoFotos2">
       <a [routerLink]="['/foto']" [queryParams]="{id: 1, foto: 4}"><img class="img-fluid img" src="/assets/img/design/heavyHouse/4a.png"></a>
     </div>
     <div class="col-md-4 espacoFotos2">
       <a [routerLink]="['/foto']" [queryParams]="{id: 1, foto: 5}"><img class="img-fluid img" src="/assets/img/design/heavyHouse/5a.png"></a>
     </div>
     <div class="col-md-4 espacoFotos2">
       <a [routerLink]="['/foto']" [queryParams]="{id: 1, foto: 6}"><img class="img-fluid img" src="/assets/img/design/heavyHouse/6a.png"></a>
     </div>
   </div>
</div>
